.frame {
  margin: 0 auto;
  background: var(--color-background);
  border: 2px solid var(--color-border);
  border-radius: var(--radius-md);
  overflow: hidden;
  transition: width var(--duration-200) var(--ease-standard),
    height var(--duration-200) var(--ease-standard);
  box-shadow: var(--color-shadow);
}

.iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: var(--color-background);
}
